.header__logo {
  color: #fff;
  text-decoration: none;
  font-family: RobotoSlab, Verdana, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}