.card__button {
  padding: 13px;
  background: #FFF;
  border-radius: 8px;
  outline: none;
  color: #000;
  border-radius: 10px;
  background-color: #fff;
  margin: 0;
  padding: 10px 13px;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 40px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

.card__button:hover::after {
  opacity: 1;
  transition: all 0.3s linear;
}

/* .card__button:hover~.card__notice {
  display: block;
} */

@media (max-width: 720px) {
  .card__button {
    top: 16px;
    right: 16px;
	}
}