@import url(./__circle/preloader__circle.css);
@import url(./__text/preloader__text.css);
@import url(./_hide/preloader_hide.css);

.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding: 80px 0;
  background-color: #f5f6f7;
}