.about__photo {
  border-radius: 50%;
  width: 464px;
  height: 464px;
  margin: 0;
}

@media (max-width: 1080px) {
  .about__photo {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 600px) {
  .about__photo {
    margin: auto;
  }
}