.header__nav-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

@media (max-width: 600px) {
  .header__nav-container {
    display: none;
  }
}