@import url(./__logo/header__logo.css);
@import url(./__main/header__main.css);
@import url(./__sign-up/header__sign-up.css);
@import url(./__nav-container/header__nav-container.css);
@import url(./__container/header__container.css);
@import url(./__nav-link/header__nav-link.css);
@import url(./__nav-link/__nav-link_dim/header__nav-link_dim.css);
@import url(./__nav-link/__nav-link_button/header__nav-link_button.css);
@import url(./__login/header__login.css);
@import url(./_hide/header_hide.css);

.header {
  border-bottom: 1px solid #c4c4c4;
  padding: 8px 0 0 0;
  position: relative;
  z-index: 3;
}