@import url(./__logo/header__logo.css);
@import url(./__main/header__main.css);
@import url(./__sign-up/header__sign-up.css);
@import url(./__nav-container/header__nav-container.css);
@import url(./__container/header__container.css);
@import url(./__nav-link/header__nav-link.css);
@import url(./__nav-link/__nav-link_button/header__nav-link_button.css);
@import url(./__login/header__login.css);
@import url(./_hide/header_hide.css);
@import url(./__button/header__button.css);
@import url(./__nav-links/header__nav-links.css);
@import url(./__nav-toggle/header__nav-toggle.css);
@import url(./_dark/header_dark.css);
@import url(./__container/_dark/header__container_dark.css);
@import url(./__container/_white/header__container_white.css);
@import url(./__nav-link/_white/header__nav-link_white.css);
@import url(./__logo/_white/header__logo_white.css);
@import url(./__login/_white/header__login_white.css);
@import url(./__login/_dark/header__login_dark.css);
@import url(./__button/_dark/header__button_dark.css);
@import url(./__button/_white/header__button_white.css);
@import url(./__nav-links/_is-opened/header__nav-links_is-opened.css);
@import url(./__nav-link/_underline/header__nav-link_underline.css);

.header {
  border-bottom: 1px solid #c4c4c4;
  padding: 0;
  position: relative;
  z-index: 3;
  color: #fff;
}

@media (max-width: 600px) {
  .header {
    padding: 8px 0 8px 0;
  }
}