.header__button {
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  outline: none;
}

.header__button::before {
  content: url(../../../images/menu.svg);
}

@media (max-width: 600px) {
  .header__button {
    display: inline;
  }
}