.popup__button_sign-in {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: inline;
  text-align: center;
  text-transform: capitalize;
  border-radius: 50px;
  transition: all .3s linear;
}