@import url(./__notice/card__notice.css);
@import url(./__button/card__button.css);
@import url(./__image/card__image.css);
@import url(./__date/card__date.css);
@import url(./__tittle/card__tittle.css);
@import url(./__text/card__text.css);
@import url(./__source/card__source.css);
@import url(./__article-container/card__article-container.css);
@import url(./__hide/card_hide.css);
@import url(./__keyword/card__keyword.css);
@import url(./__button/_added/card__button_added.css);
@import url(./__button/_delete/card__button_delete.css);
@import url(./__button/_add/card__button_add.css);
@import url(./__keyword/_hide/card__keyword_hide.css);
@import url(./__button/_unlogged/card__button_unlogged.css);

.card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 16px;
  max-width: 400px;
  position: relative;
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}