.result__show-more {
  background-color: #fff;
  border: none;
  margin: 64px auto 0 auto;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A1B22;
  padding: 18px 84px;
  border-radius: 80px;
}

.result__show-more:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .result {
    margin: 32px auto 0 auto;
  }
}