@import url(./__tittle/result__tittle.css);
@import url(./__cards-container/result__cards-container.css);
@import url(./__show-more/result__show-more.css);
@import url(./_hide/result_hide.css);

.result {
  box-sizing: border-box;
  background-color: #F5F6F7;
  margin: 0 auto;
  padding: 80px 0;
}

@media (max-width: 1080px) {
  .result {
    padding: 40px 0;
  }
}