@import url(./__photo/about__photo.css);
@import url(./__text-container/about__text-container.css);
@import url(./__title/about__title.css);
@import url(./__text/about__text.css);

.about {
  padding: 90px 0;
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}