.header__container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
  align-items: baseline;
  width: calc(100% - 208px);
}

@media (max-width: 1080px) {
  .header__container {
    width: calc(100% - 80px);
  }
}

@media (max-width: 542px) {
  .header__container {
    width: calc(100% - 32px);
  }
}