.card__image {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.card__image:after {
  background-image: url('../../../images/no-image.png');
  background-size: contain;
  content: "";
  display: block;
  font-size: 12px;
  height: 272px;
}